domain={{ clusterName }}.{{ baseDomain }},{{ bastion.ip }}/24,local
{% if online == true  %}
server={{ dns_upstream }}
{% else %}
#server={{ dns_upstream }}
{% endif %}

host-record={{ bastion.name }}.{{ clusterName }}.{{ baseDomain }},{{ bastion.ip }}
host-record={{ bootstrap.name }}.{{ clusterName }}.{{ baseDomain }},{{ bootstrap.ip }}
{%- for node in master +%}
host-record={{ node.name }}.{{ clusterName }}.{{ baseDomain }},{{ node.ip }}
{%- endfor %}
{%- if mode != 'compact' %}
  {%- if infra is defined %}
    {%- for node in infra +%}
host-record={{ node.name }}.{{ clusterName }}.{{ baseDomain }},{{ node.ip }}
    {%- endfor %}
  {%- endif %}
  {%- if worker is defined %}
    {%- for node in worker +%}
host-record={{ node.name }}.{{ clusterName }}.{{ baseDomain }},{{ node.ip }}
    {%- endfor %}
  {%- endif %}
{%- endif +%}

host-record=api.{{ clusterName }}.{{ baseDomain }},{{ bastion.ip }}
host-record=api-int.{{ clusterName }}.{{ baseDomain }},{{ bastion.ip }}
host-record=apps.{{ clusterName }}.{{ baseDomain }},{{ bastion.ip }}
host-record=.apps.{{ clusterName }}.{{ baseDomain }},{{ bastion.ip }}

#address=/{{ bastion.name }}.{{ clusterName }}.{{ baseDomain }}/{{ bastion.ip }}
#address=/{{ bootstrap.name }}.{{ clusterName }}.{{ baseDomain }}/{{ bootstrap.ip }}
{%- for node in master +%}
#address=/{{ node.name }}.{{ clusterName }}.{{ baseDomain }}/{{ node.ip }}
{%- endfor %}
{%- if mode != 'compact' %}
  {%- if infra is defined %}
    {%- for node in infra +%}
#address=/{{ node.name }}.{{ clusterName }}.{{ baseDomain }}/{{ node.ip }}
    {%- endfor %}
  {%- endif %}
  {%- if worker is defined %}
    {%- for node in worker +%}
#address=/{{ node.name }}.{{ clusterName }}.{{ baseDomain }}/{{ node.ip }}
    {%- endfor %}
  {%- endif %}
{%- endif +%}

#address=/*.apps.{{ clusterName }}.{{ baseDomain }}/{{ bastion.ip }}
address=/.apps.{{ clusterName }}.{{ baseDomain }}/{{ bastion.ip }}
address=/api.{{ clusterName }}.{{ baseDomain }}/{{ bastion.ip }}
address=/api-int.{{ clusterName }}.{{ baseDomain }}/{{ bastion.ip }}

